* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #11cb9c 0%, #076ec2 40%, #0723c2 100%);
    color: #f1f5f9;
    height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 20px;
    color: #ffe681;
}

#btn-editar {
    background-color: cadetblue;
    color: #f1f5f9;
    border: none;
}

#btn-excluir {
    background-color: #dc3545;
    color: #f1f5f9;
    border: none;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.card-time {
    background-color: #1e293bc9;
    border-radius: 16px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.4);
    transition: all 0.25s ease;
    border: 0px;
}

.card-time:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 12px 25px rgba(0,0,0,0.6);
}

.nome {
    font-size: 20px;
    font-weight: bold;
    color: #eaf8df;
}

.info {
    font-size: 14px;
    color: #cbd5f5;
}